<br>
<div class="basic-grey">
  <h1>Seja bem-vindo à agenda de contatos</h1>
 
  <ul>
    <li><i class="fas fa-list-ul"></i> <%= link_to "Tipos", kinds_path %> </li>
    <li><i class="fas fa-phone"></i> <%= link_to "Contatos", contacts_path %> </li>
    

  </ul>

</div>


